@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@300;400&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
}

body {
	background: url(/images/bg.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	height: 100%;
}

h1,
h2 {
	font-family: "Lobster", cursive;
}

h1,
h2,
h3,
h4,
a {
	color: #fff;
}

h2 {
	font-size: 40px;
	text-align: left;
	padding: 20px 0;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

/* HEADER */
header {
	height: 100vh;
	color: #fff;
	padding: 30px 0;
	display: flex;
	align-items: center;
}

.header-grp {
	width: 100%;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.header-title {
	padding: 10px;
	margin-bottom: 10px;
}

.header-title h1 {
	font-size: 70px;
}

.header-title p {
	font-size: 24px;
	font-weight: 300;
	margin-top: -15px;
	margin-left: 140px;
}

.header-contact {
	display: flex;
	justify-content: space-evenly;
	margin-left: 110px;
}

.header-contact i {
	font-size: 30px;
	margin-right: 20px;
	cursor: pointer;
}

.header-contact i:hover {
	transform: scale(1.2);
}

/* ABOUT */
.about-me {
	text-align: center;
	padding: 80px 30px 30px;
}

.about-me .overview {
	background: #fff;
	border: 2px solid #6505fc;
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
	position: relative;
}

.about-me .overview .skate-svg {
	width: 120px;
	position: absolute;
	right: -20px;
	bottom: -50px;
	transform: rotate(10deg);
}

.about-me .overview .overview-img .profile-img {
	width: 200px;
	height: 200px;
	border: 2px solid #6505fc;
	border-radius: 50%;
	margin: 10px;
	object-fit: cover;
	margin: 20px;
}

.about-me .overview .overview-text {
	flex-basis: 70%;
	padding: 20px 30px;
}

.about-me .overview .overview-text p:first-of-type {
	margin-bottom: 20px;
}

.about-me .tech {
	margin: 60px 0;
}

.about-me .tech img {
	max-height: 300px;
	max-width: 900px;
}

.about-me .education {
	display: flex;
	justify-content: space-around;
}

.about-me .education .education-card {
	flex-basis: 45%;
	border: 2px solid#fff;
	background-color: #fff;
	border-radius: 5px;
}

.about-me .education .education-card h3 {
	background-color: #6505fc;
	border-bottom: 2px solid #6006f1;
	padding: 20px;
}

.about-me .education .education-card h3 i {
	font-size: 25px;
	margin-right: 10px;
}

.about-me .education .education-card p {
	padding: 20px;
}

/* WORK */
.work {
	padding: 80px 30px 30px;
}

.work h2 {
	text-align: center;
}

.work .work-items {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.work .work-items .work-item {
	text-align: center;
	margin: 30px;
	height: 300px;
	width: 300px;
	background-color: #fff;
	border: 1px solid #6505fc;
	border-radius: 10px;
	position: relative;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 20px;
}

.work .work-items .work-item h3 {
	position: absolute;
	top: 46px;
	left: 10px;
	z-index: 3;
}

.work .work-items .work-item .work-item-content {
	display: none;
	z-index: 2;
	position: relative;
}

.work .work-items .work-item .work-item-content p {
	margin-bottom: 20px;
}

.work .work-items .work-item .work-item-content .work-item-btns a {
	padding: 5px 30px;
	border: 0.2px solid #6505fc;
	border-radius: 4px;
	background: none;
}

.work .work-items .work-item::before {
	content: " ";
	width: 50px;
	height: 40px;
	background-color: #5603db;
	position: absolute;
	top: 28px;
	left: -13px;
	transform: rotate(-25deg);
	z-index: -1;
}

.work .work-items .work-item::after {
	content: " ";
	width: 280px;
	height: 40px;
	background-color: #6505fc;
	position: absolute;
	top: 40px;
	left: -20px;
	border-radius: 4px 3px 3px 4px;
	transition: width 0.5s 0.4s ease;
	transition: left 0.1s ease;
	z-index: 2;
}

.work .work-items .work-item:nth-of-type(1) {
	background-image: url(/images/blizz-clone.jpg);
}

.work .work-items .work-item:nth-of-type(2) {
	background-image: url(/images/movie-watchlist.JPG);
	background-position: center bottom;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #454851;
}

.work .work-items .work-item:hover::before {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.9);
	transform: rotate(0deg);
	z-index: 1;
	width: inherit;
	height: inherit;
	border-radius: inherit;
}

.work .work-items .work-item:hover::after {
	width: 300px;
	left: -1px;
	border-radius: 0;
}

.work .work-items .work-item:hover .work-item-content {
	display: block;
	color: #fff;
}

.work .work-items .work-item .work-item-content .work-item-btns a:hover {
	background-color: #6505fc;
}

/* CONTACT */
.contact {
	padding: 30px;
	color: #fff;
}

.contact h2 {
	text-align: center;
}

.contact p {
	margin-bottom: 10px;
	text-align: center;
}

.contact-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact .contact-content form {
	display: flex;
	flex-direction: column;
	border-radius: 3px;
	background-color: #fff;
	padding: 20px 15px;
	width: 60%;
	min-width: 400px;
}

::placeholder {
	color: #fff;
	opacity: 0.9;
}

input:-webkit-autofill {
	box-shadow: 0 0 0 30px #6505fc inset;
	-webkit-box-shadow: 0 0 0 30px #6505fc inset;
	-webkit-text-fill-color: #fff;
}

.contact .contact-content form input,
.contact .contact-content form textarea {
	padding: 10px;
	margin-bottom: 10px;
	background-color: #6505fc;
	color: #fff;
	border-radius: 2px;
	border: none;
	outline: none;
	font-size: 14px;
}

.contact .contact-content form textarea {
	resize: vertical;
	width: 100%;
	min-height: 60px;
}

.contact .contact-content form .form-input-name {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.contact .contact-content form .form-input-name > * {
	flex-basis: 48%;
}

.contact .contact-content form button {
	padding: 10px;
	background: none;
	border: 2px solid #6505fc;
	border-radius: 4px;
	color: #6505fc;
	font-size: 14px;
	font-weight: 800;
	cursor: pointer;
}

.contact .contact-content form button:hover {
	background-color: #6505fc;
	color: #fff;
}

/* Media Queries */
@media only screen and (max-width: 760px) {
	.about-me .overview {
		flex-direction: column;
	}

	.about-me .overview .overview-img {
		width: 100%;
		background-color: #6505fc;
	}

	.about-me .tech img {
		max-height: 400px;
	}

	.about-me .education {
		flex-direction: column;
		align-items: center;
	}

	.about-me .education .education-card:first-of-type {
		margin-bottom: 20px;
	}
}
