$primary-color: #8fd0f1;
$secondary-color: #5ab9ea;
$tertiary-color: #2493c2;
$dark-color: #002c53;

@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");

html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Montserrat", sans-serif;
	color: $dark-color;
}

h2 {
	font-size: 300px;
	color: #c5c5c5;
	position: absolute;
	top: 0;
	z-index: -1;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #000;

	i {
		transition: transform 1s ease;

		&:hover {
			color: $primary-color;
			transform: scale(1.2);
		}
	}
}

.container {
	max-width: 1400px;
	margin: 0 auto;
}

.lead {
	text-align: center;
	margin-bottom: 30px;
	font-weight: 600;
	padding: 5px;
	background-color: #fff;
	text-shadow: 1px 1px 10px #fff;
}

.quote {
	font-family: "Style Script", cursive;
	font-size: 60px;
	text-align: center;
	height: 40vh;
	width: 100%;
	padding: 10px;
	background-color: $dark-color;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;

	footer {
		font-family: "Montserrat", sans-serif;
		font-size: 25px;
		text-align: end;
	}
}

.landing-page {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	background: url(./images/landing-img.jpg);
	background-size: cover;
	background-position: center;
	color: #fff;

	h1 {
		font-size: 70px;
		padding: 30px 40px;
		position: relative;

		&:before,
		&:after {
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			height: 150px;
			width: 160px;
			border-color: #fff;
			border-style: solid;
		}

		&:before {
			border-width: 5px 0 5px 5px;
			left: 0px;
		}
		&:after {
			border-width: 5px 5px 5px 0px;
			right: 0px;
		}
	}

	p {
		margin-bottom: -10px;
		z-index: 2;
		font-size: 20px;
		padding: 0 20px;
	}

	&-btns {
		margin-top: -5px;
		padding: 0 10px;
		z-index: 2;

		a {
			background-color: $dark-color;
			color: #fff;
			padding: 10px;
			border-radius: 5px;

			&:hover {
				background-color: $secondary-color;
				color: $dark-color;
			}
		}
	}

	.scroll-arrow {
		position: absolute;
		bottom: 40px;
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		transition: background-color 1s ease;

		&:hover {
			background-color: $dark-color;

			i {
				color: $primary-color;
			}
		}
	}
}

.header-contact {
	position: absolute;
	top: 15px;
	right: 35px;
	display: flex;
	flex-direction: column;

	a {
		margin-bottom: 10px;

		i {
			font-size: 30px;

			&:hover {
				transform: scale(1.2);
			}
		}
	}
}

.main-nav {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: $primary-color;
	z-index: 5;

	&-links {
		max-width: 1400px;
		margin: 0 auto;
		padding: 0 30px;
		height: inherit;
		display: flex;
		justify-content: flex-end;
		align-items: center;

		.main-nav-link {
			margin: 0 20px;

			a {
				color: #fff;
				font-size: 20px;

				&:hover {
					color: $dark-color;
				}
			}
		}
	}
}

.intro {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	& > * {
		flex: 1 1 50%;
	}

	&-img {
		height: inherit;
		display: flex;
		align-items: center;
		background-color: $secondary-color;

		img {
			width: inherit;
			max-height: 100vh;
		}
	}

	&-text {
		padding: 0 20px;

		p {
			max-width: 500px;
		}

		p:first-of-type {
			margin-bottom: 20px;
		}

		span:first-of-type {
			font-size: 40px;
			font-weight: 600;
		}

		span:last-of-type {
			font-weight: 600;
		}
	}
}

.tech {
	padding: 200px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;

	&-grps {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		.tech-grp {
			background-color: $secondary-color;
			text-align: center;
			padding: 20px;
			width: 300px;
			height: 300px;
			margin: 5px;
			display: flex;
			flex-direction: column;

			h3 {
				margin-bottom: 30px;
			}

			ul {
				flex-grow: 1;
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				gap: 10px;

				li {
					display: flex;
					flex-direction: column;
					align-items: center;

					i {
						font-size: 40px;
					}

					img {
						width: 40px;
					}
				}
			}
		}
	}
}

.education {
	margin-bottom: 60px;

	&-item {
		display: flex;
		align-items: center;
		text-align: center;

		& > * {
			flex: 1 1 50%;
		}

		&-img {
			background-color: $tertiary-color;
			height: 350px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			color: #fff;
			margin: 10px 0;
			position: relative;
			padding: 20px;

			img {
				position: absolute;
				border: 10px solid #fff;
				width: auto;
				height: 300px;
				top: 25px;
				background-color: #fff;
			}
		}

		&-content {
			max-width: 600px;

			h3 {
				margin-bottom: 10px;
			}
		}

		&:first-of-type {
			.education-item-img {
				img {
					right: -80px;
				}
			}

			.education-item-content {
				padding: 0 20px 0 100px;
			}
		}

		&:last-of-type {
			.education-item-img {
				order: 2;

				img {
					left: -80px;
				}
			}

			.education-item-content {
				padding: 0 100px 0 20px;
			}
		}
	}
}

.work {
	position: relative;
	padding: 200px 20px;

	&-items {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		.work-item {
			text-align: center;
			margin: 30px;
			height: 300px;
			width: 300px;
			border: 1px solid $dark-color;
			border-radius: 10px;
			position: relative;
			background-size: cover;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			padding: 20px;

			h3 {
				position: absolute;
				top: 49px;
				left: 10px;
				z-index: 3;
			}

			&-content {
				display: none;
				z-index: 2;
				position: relative;

				p {
					margin-bottom: 20px;
				}

				.work-item-btns a {
					padding: 5px 30px;
					border: 0.2px solid $secondary-color;
					border-radius: 4px;
					background: none;
					color: #fff;
					margin: 0 5px;

					&:hover {
						background-color: $secondary-color;
					}
				}
			}

			&::before {
				content: " ";
				width: 50px;
				height: 40px;
				background-color: $dark-color;
				position: absolute;
				top: 28px;
				left: -13px;
				transform: rotate(-25deg);
				z-index: -1;
			}

			&::after {
				content: " ";
				width: 280px;
				height: 40px;
				background-color: $primary-color;
				position: absolute;
				top: 40px;
				left: -20px;
				border-radius: 4px 3px 3px 4px;
				transition: width 0.5s 0.4s ease;
				transition: left 0.1s ease;
				z-index: 2;
			}

			&:nth-of-type(1) {
				background-image: url(/images/blizz-clone.jpg);
			}

			&:nth-of-type(2) {
				background-image: url(/images/film-watchlist.JPG);
				background-position: center top;
				background-size: contain;
				background-repeat: no-repeat;
				background-color: #0e2a47;
			}
			&:nth-of-type(3) {
				background-image: url(/images/skate-uk.png);
				background-position: center top;
				background-size: contain;
				background-repeat: no-repeat;
				background-color: #fffdfd;
			}

			&:hover {
				&::before {
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					background: rgba(0, 0, 0, 0.9);
					transform: rotate(0deg);
					z-index: 1;
					width: inherit;
					height: inherit;
					border-radius: inherit;
				}

				&::after {
					width: 300px;
					left: -1px;
					border-radius: 0;
				}

				.work-item-content {
					display: block;
					color: #fff;
				}
			}
		}
	}

	&::before {
		content: "";
		width: 100%;
		height: 50vh;
		background-color: $secondary-color;
		position: absolute;
		bottom: 0px;
		left: 0;
		z-index: -2;
	}
}

.contact {
	position: relative;
	height: 80vh;
	padding: 200px 20px;

	h2 {
		z-index: 1;
	}

	form {
		position: absolute;
		top: 35vh;
		left: 35vw;
		display: flex;
		flex-direction: column;
		border-radius: 3px;
		background: url(./images/form-bg.svg);
		padding: 20px 15px;
		width: 60%;
		min-width: 400px;
		max-width: 800px;
		max-height: fit-content;
		z-index: 3;

		input,
		textarea {
			padding: 10px;
			margin-bottom: 10px;
			background-color: $primary-color;
			color: $dark-color;
			border-radius: 2px;
			border: none;
			outline: none;
			font-size: 14px;
		}

		textarea {
			resize: vertical;
			width: 100%;
			min-height: 60px;
		}

		input:-webkit-autofill {
			box-shadow: 0 0 0 30px $primary-color inset;
			-webkit-box-shadow: 0 0 0 30px $primary-color inset;
			-webkit-text-fill-color: $dark-color;
		}

		.form-input-name {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
			grid-gap: 10px;
		}

		button {
			padding: 10px;
			background: none;
			border: 2px solid $primary-color;
			background-color: $tertiary-color;
			color: #fff;
			border-radius: 4px;
			font-size: 14px;
			font-weight: 800;
			cursor: pointer;

			&:hover {
				background-color: $dark-color;
			}
		}
	}
}

::placeholder {
	color: $dark-color;
	opacity: 0.9;
}

.main-footer {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding: 120px 20px;
	position: relative;
	height: 400px;
	color: #fff;

	&-contact {
		margin-bottom: 5px;

		i {
			font-size: 40px;
			margin: 0 5px;
			color: #fff;
		}
	}

	&::before {
		content: " ";
		background: url(./images/wave.svg);
		background-position: center;
		background-size: cover;
		width: 100%;
		position: absolute;
		bottom: 0px;
		height: 400px;
		z-index: -1;
	}
}

// Media Queries
@media only screen and (max-width: 768px) {
	.landing-page {
		h1 {
			font-size: 50px;

			&::before,
			&:after {
				width: 90px;
			}
		}

		p {
			margin-bottom: 4px;
		}

		&-btns {
			margin-top: 5px;
		}
	}

	.intro {
		position: relative;
		flex-direction: column;

		&-img {
			width: 300px;
			background-color: transparent;
		}
	}

	.quote {
		font-size: 40px;
	}

	.tech,
	.work {
		h2 {
			font-size: 20vw;
		}
	}

	.work {
		&:before {
			height: 80vh;
		}
	}

	.contact {
		form {
			top: 20vh;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

@media only screen and (max-width: 900px) {
	.education-item {
		flex-direction: column;
		align-items: normal;

		&-img {
			width: 80%;
			padding: 175px 0;
		}

		&:first-of-type {
			.education-item-content {
				align-self: flex-end;
				padding: 40px 20px;
			}
		}

		&:last-of-type {
			.education-item-img {
				order: 1;
				align-self: flex-end;
			}

			.education-item-content {
				order: 2;
				padding: 40px 20px;
			}
		}
	}
}

@media only screen and (max-width: 1200px) {
	.contact {
		h2 {
			font-size: 20vw;
		}
	}
}

@media only screen and (min-width: 1400px) {
	.title-container {
		width: 1400px;
		left: 50%;
		transform: translateX(-50%);
	}
}
